@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

.prefForm {
    font-family: "Oswald";
    font-size: 30px;
}

label{
    padding-right: 10px;
}

button{
    font-family: "Oswald";
    font-size: 20px;
}