
.body {
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    width: 500px;
    z-index: 1;
    background: white;
    border: 1px solid #ccc;
    transition: 1.1s ease-out;
    box-shadow: -2rem 2rem 2rem black;
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.h2 {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 0;
}

.content {
    padding: 1rem;
    text-align: center;
}