@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

#HeaderBar {
    display: flex;
    flex-direction: row;
    margin-top: -10px;
    margin-right: -20px;
    margin-left: -20px;
    background-color: #660708;
    font-family: "Oswald";
    align-items: center;
}

.title {
    padding-left: 30px;
    flex-basis: 75%;
}

.login{
    flex-basis: 10%;
    color: white;
    font-size: 25px;
    background: #A4161A;
    cursor: pointer;
    text-align: center;
    font-family: "Oswald";
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.login:hover{
    background: #BA181B;
}

.TitleButton {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 35px;
    font-family: "Racing Sans One";
}

.search {
    flex-basis: 10%;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.profile {
    flex-basis: 10%;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.searchPopup {

}