@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

.searchButton {
    font-size: 20px;
    font-family: "Oswald";
    border-radius: 10px;
    margin-right: 10px;
}